
// INDEX.CSS
@import url('../../fonts/playfair_display/stylesheet.css');
@font-face{
  font-family: 'Chronicle Display Roman';
  src: url('../../fonts/Chronicle Display Roman/Chronicle Display Roman.otf');
}
@font-face{
  font-family: 'FiraSans';
  src: url('../../fonts/fira-sans/FiraSans-Regular.otf');
}
@font-face{
  font-family: 'FiraSansLight';
  src: url('../../fonts/fira-sans/FiraSans-Light.otf');
}
@font-face{
  font-family: 'FiraSansUltraLight';
  src: url('../../fonts/fira-sans/FiraSans-UltraLight.otf');
}
.center{
  width: 80%;
  margin: 0 auto;
}
h2{
        font-family: 'playfair_displayregular';
        // font-family: arial;
        font-weight: bold;
        // font-family: verdana;
        font-size: 55px;
        color: #0b6890;
      }
.number{
        font-family: 'playfair_displayregular';
        font-size: 78px;
        color: #b5b5b5;
      }

header{
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('../../images/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  .header_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    text-align: center;
    .name{
      letter-spacing: 3px;
      font-family: FiraSansLight;
      font-size: 16px;
      color: #dde0e2;
    }
    .topic{
      padding-top: 40px;
      font-family: 'Chronicle Display Roman';
      font-size: 80px;
    }
    .description{
      padding-top: 50px;
      font-family: 'FiraSansLight';
      font-size: 21px;
      color: #eff0f1;
      line-height: 30px;
    }
  }
  .strings{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

#section_1{
  display: flex;
  flex-direction: column;
  .section_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 140px 0;
    .writing{
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      p{
        font-family: FiraSansLight;
        font-size: 18px;
        color: #313131;
        line-height: 25px;
      }
    }
    .image_side{
      position: relative;
      width: 40%;
      margin-left: auto;
      img{
        width: 100%;
        //height: 100%;
      }
    }
  }
  #section_content_top{
    #writing_top{
      margin-left: 10%;
    }
  }
  #section_content_bottom{
    flex-direction: row-reverse;
    #writing_bottom{
      margin-left: auto;
      margin-right: 10%;
    }
    .image_side{
      margin-left: 0;
    }
  }
}

#section_2{
  display: flex;
  flex-direction: column;
  #section_2_top{
    text-align: center;
  }
  #section_2_content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    #row_1{
      display: flex;
      flex-direction: row;
      #img_cover{
        width: 50%;
        margin: 10px;
        img{
        width: 100%;
        }
      }
    }
    #row_2{
      display: flex;
      flex-direction: row;
      #img_cover_1{
        width: 40%;
        margin: 10px;
        background-image: url(../../images/img2.png);
      }
      #img_cover_2{
        width: 60%;
        margin: 10px;
        img{
          width: 100%;
        } 
      }
    }
    #row_3{
      display: flex;
      flex-direction: row;
      #img_cover{
        width: 50%;
        margin: 10px;
        img{
          width: 100%;
        }
      }
    }
    #row_4{
      display: flex;
      flex-direction: row;
      #img_cover_3{
        margin: 10px;
        width: 60%;
        img{
        width: 100%;
        }
      }
      #img_cover_4{
        margin: 10px;
        width: 40%;
        background-image: url(../../images/img2.png);
      }
    }
  }
  #section_2_bottom{
    margin-top: 100px;
    margin-bottom: 100px;
    p{
      color:#0b6890;
      font-size: 32px;
      font-family: playfair_displayregular;
      font-weight: bold;
      span{
        color: #b5b5b5;
        font-family: playfair_displayregular;
      }
    }
  }
}

#section_4{
    #section_4_content{
      display: flex;
      justify-content: space-around;
      align-items: center;
    #section_4_left{
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      div{
        margin: 20px auto;
        &:nth-of-type(5){
          color: #b5b5b5;
        }
        p{
          color: #b5b5b5;
          line-height: 25px;
          font-size:18px;
          width: 350px;
        }
        span{
          padding:15px 40px;
          font-size: 18px;
          font-family: Chronicle Display Roman;
          color: #0b6890;
          border: 1px solid #b5b5b5;
          margin-top: 100px;
        }
      }
    }
    #section_4_center{
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      div{
        margin: 10px 0;
        &:nth-of-type(1){
          color: #b5b5b5;
          font-size: 14px;
        }
        &:nth-of-type(2){
          color: #0b6890;
          font-size: 22px;
        }
        &:nth-of-type(3){
          color: #b5b5b5;
          font-size: 14px;
          margin-top: 30px;
        }
        &:nth-of-type(4){
          color: #b5b5b5;
          font-size: 14px;
          margin-top: 30px;
          em{
            margin-right: 10px;
          }
        }
      }
    }
    #section_4_right{
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      div{
        margin: 10px 0;
        &:nth-of-type(1){
          color: #b5b5b5;
          font-size: 14px;
        }
        &:nth-of-type(2){
          color: #0b6890;
          font-size: 22px;
        }
        &:nth-of-type(3){
          color: #b5b5b5;
          font-size: 14px;
          margin-top: 30px;
        }
        &:nth-of-type(4){
          color: #0b6890;
          font-size: 22px;
          margin-top: 30px;
        }
      }
    }
  }
}

footer{
  background-image: url(../../images/bg.png);
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  font-family: Chronicle Display Roman;
  p{
    margin-top: 20px;
  }
}


@media screen and (max-width: 540px){

  h2{
    font-size: 30px;
  }

  header {
    .header_center {
      .topic {
        font-size: 40px;
      }
      .description{
        font-size: 16px;
      }
    }
  }
  
  #section_1 {
    #section_content_top{
      flex-direction: column-reverse;
      width: 80%;
      margin: 50px auto;
      .writing{
        width: 90%;
        margin: auto;
        p{
          margin-top: 20px;
          font-size: 14px;
        }
      }
      .image_side{
        width: 100%;
        // display: flex;
      }
    }
    #section_content_bottom{
      flex-direction: column-reverse;
      width: 80%;
      margin: 50px auto;
      .writing{
        width: 90%;
        margin: auto;
        p{
          margin-top: 20px;
          font-size: 14px;
        }
      }
      .image_side{
        width: 100%;
        // display: flex;
      }
    }
  }
  
  #section_2{
    #section_2_bottom{
      p{
        font-size: 26px;
      }
    }
  }

  #section_4{
    #section_4_content{
      #section_4_left{
        div{
          h2{
            font-size: 26px;
          }
          p{
            font-size: 16px;
            width: 160px;
            line-height: 20px;
            margin: auto;
          }
          span{
            padding: 9px 18px;
            font-size: 14px;
          }
        }
      }
      #section_4_center{
        div{
          &:nth-of-type(1){
            font-size: 10px;
          }
          &:nth-of-type(2){
            font-size: 18px;
          }
          &:nth-of-type(3){
            font-size: 10px;
          }
          &:nth-of-type(4){
            font-size: 10px;
            em{
              margin-right: 10px;
            }
          }
        }
      }
      #section_4_right{
        div{
          &:nth-of-type(1){
            font-size: 10px;
          }
          &:nth-of-type(2){
            font-size: 18px;
          }
          &:nth-of-type(3){
            font-size: 10px;
          }
          &:nth-of-type(4){
            font-size: 18px;
          }
        }
      }
    }
  }


}












